.dirstamp
.deps
/aclocal.m4
/Makefile.in
/Makefile
/autom4te.cache
/install-sh
/depcomp
/compile
/config.log
/config.status
/configure
/test-driver
/missing

*.o
*.log
*.trs
/insomniad
/check_parse_wakeup_sources
